<!-- Shared Footer -->
<div class="footer-copyright py-4">
  <div class="container">
    <div>
      <span class="dsb-panel">
        <a href="/term.html">Terms</a> - <a href="/dmca.html">DMCA</a> - <a href="/policy.html">Privacy</a>
      </span>
    </div>
    <div style="margin-top: 10px; font-size: 14px;">
      <span class="dsb-panel">
        <a href="/play/1v1-lol.html">1v1 LOL</a> -
        <a href="/play/2048.html">2048</a> -
        <a href="/play/adventure-drivers.html">Adventure Drivers</a> -
        <a href="/play/agario.html">Agario</a> -
        <a href="/play/among-us.html">Among Us</a> -
        <a href="/play/basket-battle.html">Basket Battle</a> -
        <a href="/play/basketball-stars.html">Basketball Stars</a> -
        <a href="/play/block-blast.html">Block Blast</a> -
        <a href="/play/blumgi-rocket.html">Blumgi Rocket</a> -
        <a href="/play/car-rush.html">Car Rush</a>
      </span>
    </div>
  </div>
</div>
