<!-- Shared Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark top-nav" id="mainNav">
  <a class="navbar-brand js-scroll-trigger" href="/">
    <img src="../images/home-icon.webp" width="160" height="80" class="topVAZ-logo" alt="logo">
  </a>
  <ul class="navbar-nav d-none d-lg-flex ms-auto mb-2 mb-lg-0">
    <li class="nav-item"><a class="nav-link" href="/play/geometry-dash.html">Classic</a></li>
    <li class="nav-item"><a class="nav-link" href="/play/geometry-dash-lite.html">Lite</a></li>
    <li class="nav-item"><a class="nav-link" href="/play/geometry-dash-meltdown.html">Meltdown</a></li>
    <li class="nav-item"><a class="nav-link" href="/play/geometry-dash-subzero.html">Subzero</a></li>
    <li class="nav-item"><a class="nav-link" href="/play/geometry-dash-world.html">World</a></li>
    <li class="nav-item"><a class="nav-link" href="/play/geometry-dash-scratch.html">Scratch</a></li>
  </ul>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-menu" aria-controls="nav-menu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="nav-menu"></div>
</nav>
